 .todo {
    margin: 0 auto !important;
    margin-top: 20px !important;
    width: 700px;
}

.deleteIcon{
    float :right;
    width: 25px;
    margin-right: 10px;
    margin-top: 10px;
}

.deleteIcon:hover{
    cursor: pointer;
}

.todo h2 {
    padding: 20px;
}

.todo p {
    padding: 10px;
} 

#todoArea h2:hover, #todoArea p:hover {
    cursor: pointer;
}

#todoEditBox input[type="text"] {
    width: 300px;
    height: 30px;
}

#todoEditBox textarea {
    margin-left: 10px;
    width: 500px;
    height: 50px;
}